# 제어문 기초 (if, for, while)

In [1]:
"주머니에 돈이 있으면 택시를 타고, 주머니에 돈은 없지만 카드가 있으면 택시를 타고, 돈도 없고 카드도 없으면 걸어 가라."
pocket = ['paper', 'cellphone','card']
if 'money' in pocket:
    print('택시를 타라')
elif 'card' :
    print('택시를 타라')
else :
    print('걸어가라')

택시를 타라

In [2]:
treehit = 0
while treehit < 10:
    treehit += 1
    print('나무를 %d번 찍었습니다'%treehit)
    if treehit == 10 :
        print('나무 넘어갑니다')

나무를 1번 찍었습니다
나무를 2번 찍었습니다
나무를 3번 찍었습니다
나무를 4번 찍었습니다
나무를 5번 찍었습니다
나무를 6번 찍었습니다
나무를 7번 찍었습니다
나무를 8번 찍었습니다
나무를 9번 찍었습니다
나무를 10번 찍었습니다
나무 넘어갑니다

In [3]:
coffee = 2

while True:
    money = int(input('돈을 넣어주세요:'))
    if money == 300 :
        coffee = coffee -1
        print('커피 나왔습니다')
    elif money > 300 :
        coffee = coffee -1
        print('거스름돌 %d원과 커피 나왔습니다'%(money-300))
    else  :
        print('커피를 드릴 수 없습니다')
    if coffee == 0 :
        print("커피가 다 떨어졌습니다.")
        break

돈을 넣어주세요:300
커피 나왔습니다
돈을 넣어주세요:350
거스름돌 50원과 커피 나왔습니다
커피가 다 떨어졌습니다.

In [4]:
#홀수만 출력
a = 0
while a < 10 :
    a += 1
    if a % 2 == 0 :
        continue
    print(a)

1
3
5
7
9

In [5]:
a = [(1,2), (3,4), (5,6)]
for (first,last) in a :
    print(first+last)

3
7
11

In [5]:
marks = [90, 25, 67, 45, 80]

i = 0
for mark in marks :
    i += 1
    if mark >= 60:
        print('%d번 학생 합격입니다'%i)
    else:
        print('%d번 학생 불합격입니다'%i)

1번 학생 합격입니다
2번 학생 불합격입니다
3번 학생 합격입니다
4번 학생 불합격입니다
5번 학생 합격입니다

In [9]:
marks = [90, 25, 67, 45, 80]

i = 0
for mark in marks :
    i += 1
    if mark >= 60:
        print('%d번 학생 합격입니다.축하합니다'%i)
    else:
        pass

1번 학생 합격입니다.축하합니다
3번 학생 합격입니다.축하합니다
5번 학생 합격입니다.축하합니다

In [11]:
marks = [90, 25, 67, 45, 80]

for number in range(len(marks)):
    if marks[number] < 60 :
        print('%d번 학생 축하합니다'%(number+1))
    else : 
        continue

2번 학생 축하합니다
4번 학생 축하합니다

In [22]:
for i in range(2,10):
    for j in range(1,10):
        print(i*j, end=' ')
    print('')

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [23]:
a = [1,2,3,4]
result = []
for i in a :
    result.append(i*3)
    
print(result)

[3, 6, 9, 12]

# comprehension
[표현식 for 항목 in 반복가능객체 if 조건문]

In [25]:
a = [1,2,3,4]

result = [i*3 for i in a if i%2==0]
print(result)

[6, 12]

In [29]:
numbers = [1, 2, 3, 4, 5]
result = [i*2 for i in numbers if i%2==1]
print(result)

[2, 6, 10]

In [30]:
class Human:
    def __init__(self, name, age):
        self.name = name
        self.age = age


# 아래 humans에 할당된 list object는 다음과 같다.
# Human("이름", 연령)
humans = [
    Human("Abi", 29),
    Human("Batista", 32),
    Human("Charlse", 37),
    Human("Dolphine", 30),
    Human("Eva", 26),
    Human("Frin", 18),
    Human("Gless", 42),
    Human("Harby", 12),
    Human("Iris", 41),
    Human("David", 31),
]

In [31]:
# 1-1) 이름을 출력해보자.
# 출력조건 : 'D'로 시작하는 이름을 출력하자.
def quesion1():
    print("Starts with D:")
    a = [human.name for human in humans if human.name.startswith("D")]
    print(a)
    return(a)

# 1-2) 이름을 출력해보자.
# 출력조건 : 'e'로 끝나는 이름을 출력하자.
def quesion2():
    print("Ends with e:")
    b = [human.name for human in humans if human.name.endswith("e")]
    print(b)
    return(b)

# 1-3) 이름을 출력해보자.
# 출력조건 : 이름스펠링이 'C' 와 'G' 사이로 시작하는 이름을 출력하자.
def quesion3():
    print("Starts between C and G, inclusive:")
    c = [human.name for human in humans if human.name[0] in "CDEFG"]
    print(c)
    return(c)

# 1-4) 연령을 출력해보자.
# 출력조건 : 주어진 모든 연령에 대해 10을 더한상태의 연령을 출력하자.
def quesion4():
    print("Ages plus 10:")
    d = [human.age + 10 for human in humans]
    print(d)
    return(d)

# 1-5) 이름과 연령을 출력해보자.
# 출력조건 : '이름-연령'의 형식으로 이름과 연령을 출력하자.
def quesion5():
    print("Name hyphen age:")
    e = ['{}-{}'.format(human.name,human.age) for human in humans ]
    print(e)
    return(e)

quesion1()
quesion2()
quesion3()
quesion4()
quesion5()

Starts with D:
['Dolphine', 'David']
Ends with e:
['Charlse', 'Dolphine']
Starts between C and G, inclusive:
['Charlse', 'Dolphine', 'Eva', 'Frin', 'Gless', 'David']
Ages plus 10:
[39, 42, 47, 40, 36, 28, 52, 22, 51, 41]
Name hyphen age:
['Abi-29', 'Batista-32', 'Charlse-37', 'Dolphine-30', 'Eva-26', 'Frin-18', 'Gless-42', 'Harby-12', 'Iris-41', 'David-31']

['Abi-29',
 'Batista-32',
 'Charlse-37',
 'Dolphine-30',
 'Eva-26',
 'Frin-18',
 'Gless-42',
 'Harby-12',
 'Iris-41',
 'David-31']

In [32]:
# 1-6) 이름과 연령을 출력해보자.
# 출력조건 : '이름-연령'의 형식으로 27~32세의 연령을 갖고 있는 사람의 이름과 연령을 출력하자.
def quesion6():
    print("Names and ages between 27 and 32:")
    f = ['{}-{}'.format(human.name,human.age) for human in humans if human.age >= 27 and human.age <= 32]
    print(f)
    return(f)

# 1-7) 이름과 연령을 출력해보자.
# 출력조건 : ("이름", 연령)의 형식으로 이름을 대문자로 변경시키고 연령에 5를 더한상태의 이름과 연령을 출력하자.
def quesion7():
    print("All names uppercase:")
    g = ['({},{})'.format(human.name.upper(),human.age+5) for human in humans ]
    print(g)
    return(g)

quesion6()
quesion7()

Names and ages between 27 and 32:
['Abi-29', 'Batista-32', 'Dolphine-30', 'David-31']
All names uppercase:
['(ABI,34)', '(BATISTA,37)', '(CHARLSE,42)', '(DOLPHINE,35)', '(EVA,31)', '(FRIN,23)', '(GLESS,47)', '(HARBY,17)', '(IRIS,46)', '(DAVID,36)']

['(ABI,34)',
 '(BATISTA,37)',
 '(CHARLSE,42)',
 '(DOLPHINE,35)',
 '(EVA,31)',
 '(FRIN,23)',
 '(GLESS,47)',
 '(HARBY,17)',
 '(IRIS,46)',
 '(DAVID,36)']

In [33]:
# 1-8) 연령을 출력해보자.
# 출력조건 : 모든 연령을 제곱근으로 변경시키고, 제곱근에 대해 소수점 2째자리까지 표현하는 연령을 출력하자. (결과값은 반올림을 해야하며 반올림관련 내장함수를 활용해야 합니다.)
def quesion8():
    print("Square root of ages:")
    h = [round(human.age**(1/2),2) for human in humans]
    print(h)
    return(h)

quesion8()

Square root of ages:
[5.39, 5.66, 6.08, 5.48, 5.1, 4.24, 6.48, 3.46, 6.4, 5.57]

[5.39, 5.66, 6.08, 5.48, 5.1, 4.24, 6.48, 3.46, 6.4, 5.57]